<h1>About Me</h1>
<p>My name is McNeil McCarley</p>
<p>I am a very passionate computer science student that has goals of continuing to build my skills</p>
<p>Skills: Python, SQL, Ruby, HTML/CSS</p>

<% content_for :stylesheet_links do %>
  <%= stylesheet_link_tag 'about' %>
<% end %>